/*==============================

Dashboard

==============================*/

.hero-dashboard{

position:relative;

display:flex;

justify-content:center;

align-items:center;

}

.dashboard{

width:520px;

height:640px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

border-radius:32px;

backdrop-filter:blur(35px);

overflow:hidden;

box-shadow:

0 30px 80px rgba(0,0,0,.45);

position:relative;

animation:

floating 8s ease-in-out infinite;

}

.dashboard::before{

content:"";

position:absolute;

width:300px;

height:300px;

background:#00d4ff33;

filter:blur(120px);

top:-120px;

right:-120px;

}

.dashboard-header{

height:72px;

display:flex;

align-items:center;

padding:0 28px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.dashboard-header h3{

color:white;

font-size:18px;

font-weight:600;

}

.dashboard-content{

padding:30px;

display:flex;

flex-direction:column;

gap:24px;

}
.audit-card{

padding:24px;

background:

rgba(255,255,255,.05);

border-radius:20px;

border:

1px solid rgba(255,255,255,.06);

transition:.4s;

}

.audit-card:hover{

transform:translateY(-8px);

background:

rgba(255,255,255,.08);

}

.audit-title{

font-size:14px;

color:var(--secondary);

margin-bottom:12px;

}

.audit-value{

font-size:36px;

color:white;

font-weight:700;

}

.progress{

width:100%;

height:10px;

background:#1c2438;

border-radius:20px;

overflow:hidden;

}

.progress span{

display:block;

height:100%;

width:82%;

background:

linear-gradient(

90deg,

#00d4ff,

#3b82f6

);

border-radius:20px;

}



.timeline{

display:flex;

flex-direction:column;

gap:18px;

}

.timeline-item{

display:flex;

gap:16px;

align-items:center;

}

.circle{

width:14px;

height:14px;

background:#00d4ff;

border-radius:50%;

box-shadow:

0 0 20px #00d4ff;

}

.timeline-item p{

color:#cfd7ea;

font-size:15px;

}

@keyframes floating{

0%{

transform:

translateY(0px);

}

50%{

transform:

translateY(-18px);

}

100%{

transform:

translateY(0px);

}

}

