/*==============================

Dashboard

==============================*/

.hero-dashboard{

position:relative;

display:flex;

justify-content:center;

align-items:center;

}

.dashboard{

width:520px;

height:640px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

border-radius:32px;

backdrop-filter:blur(35px);

overflow:hidden;

box-shadow:

0 30px 80px rgba(0,0,0,.45);

position:relative;

animation:

floating 8s ease-in-out infinite;

}

.dashboard::before{

content:"";

position:absolute;

width:300px;

height:300px;

background:#00d4ff33;

filter:blur(120px);

top:-120px;

right:-120px;

}

.dashboard-header{

height:72px;

display:flex;

align-items:center;

padding:0 28px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.dashboard-header h3{

color:white;

font-size:18px;

font-weight:600;

}

.dashboard-content{

padding:30px;

display:flex;

flex-direction:column;

gap:24px;

}
