body{

background:var(--bg);

color:var(--text);

font-family:var(--body);

overflow-x:hidden;

}

.container{

width:min(1280px,92%);

margin:auto;

}

header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

backdrop-filter:blur(25px);

background:rgba(4,6,13,.45);

border-bottom:1px solid rgba(255,255,255,.05);

}

.navbar{

height:82px;

width:min(1280px,92%);

margin:auto;

display:flex;

align-items:center;

justify-content:space-between;

}

.logo{

font-family:var(--title);

font-size:28px;

font-weight:700;

color:white;

}

.logo span{

color:var(--secondary);

}

.navbar ul{

display:flex;

gap:48px;

}

.navbar li{

color:#cfd7ea;

font-size:15px;

transition:.3s;

}

.navbar li:hover{

color:white;

}

.nav-btn{

padding:14px 30px;

border-radius:999px;

background:var(--gradient);

font-weight:600;

color:white;

transition:.35s;

}

.nav-btn:hover{

transform:translateY(-2px);

box-shadow:0 20px 50px rgba(0,212,255,.35);

}
