/* ===========================================
   Navigation
=========================================== */

header{

    position:fixed;

    top:24px;

    left:0;

    width:100%;

    display:flex;

    justify-content:center;

    z-index:999;

}

.navbar{

    width:min(var(--container),92%);

    height:74px;

    background:rgba(255,255,255,.92);

    border:1px solid rgba(229,231,235,.9);

    backdrop-filter:blur(18px);

    border-radius:999px;

    box-shadow:0 15px 40px rgba(0,0,0,.05);

}

.navbar .container{

    height:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 34px;

}


.logo{

    font-size:28px;

    font-weight:800;

    color:var(--text);

    letter-spacing:-1px;

}

.logo span{

    color:var(--primary);

}



.menu{

    display:flex;

    gap:42px;

}

.menu a{

    color:var(--text-light);

    font-weight:600;

    transition:var(--transition);

}

.menu a:hover{

    color:var(--primary);

}




.nav-button{

    display:flex;

    align-items:center;

    justify-content:center;

    height:48px;

    padding:0 26px;

    border-radius:999px;

    background:var(--primary);

    color:white;

    font-weight:600;

    transition:var(--transition);

}

.nav-button:hover{

    background:var(--primary-dark);

    transform:translateY(-2px);

}













